.flex-container {
  display: flex;
  height: 100vh;
}

.column {
  flex-basis: 50%
}

.column.two {
  background: black;
  color: white;
}

/* page title */
.login-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  border: 1 px solid;
  padding-bottom: 9rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

/* Login form */

.lead-message {
  font-weight: 600;
  font-size: 1.1rem;
  color: #505050;
  margin-left: 4rem;
}

.form {
  width: 400px;
  margin-left: 4rem;
}

.form div {
  width: 400px;
  margin-bottom: .6rem;
}

.actions-wrapper {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: underline;
}

#login-btn {
  background: #101010;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  margin-right: 2rem;
  border-radius: 5px;
}

#login-btn:hover {
  background: black;
  text-decoration: none;
  color: white;

}

#login-btn:active {
  background: black;
  text-decoration: none;
  color: gray;
}
